<section id="footer-section">
  <div >
    <img src="assets/images/Group.png" >

    <hr id class="hr-divider">
    <!-- Footer -->
    <footer class="page-footer font-small indigo">

      <!-- Footer Links -->
      <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">About company</a>
              </li>
              <li>
                <a href="#!">Feature products</a>
              </li>
              <li>
                <a href="#!">Our team</a>
              </li>
              <li>
                <a href="#!">Contact us</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Customer Support</a>
              </li>
              <li>
                <a href="#!">Refund policy</a>
              </li>
              <li>
                <a href="#!">Live chat</a>
              </li>
              <li>
                <a href="#!">Support Policy</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Product</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Wordpress</a>
              </li>
              <li>
                <a href="#!">Pricing </a>
              </li>
              <li>
                <a href="#!">Download</a>
              </li>
              <li>
                <a href="#!">Other product</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <hr class="clearfix w-100 d-md-none">

          <!-- Grid column -->
          <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">contact@staffory.com</a>
              </li>
              
            </ul>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>
      <!-- Footer Links -->
      <hr id class="hr-divider">

      <!-- Copyright -->
      <div id="footer-copyright">
        <a>Copyright @ 2021 Designed by Staffory</a>
        <a id="footer-right">Terms of Use</a>
          <a id="footer-right">Privacy Policy</a>
       
      
      </div>

    </footer>
    <!-- Footer -->
  </div>
</section>
