<div id="our-services">
  <br>
  <h1 >Our Services</h1>
  
</div>
<div class="content" >
  <mat-grid-list cols="3" rowHeight="300px">
    <mat-grid-tile>
     <mat-card >
      <img src="assets/images/Group 10.png"><img>
      <h1>IT Permanent Recruitment</h1>
      <p>It is a long established fact that a user will be distracted by readable content</p>
     </mat-card>
    
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card >
        <img src="assets/images/Group 225.png"><img>
        <h1> IT Body Leasing</h1>
        <p>It is a long established fact that a user will be distracted by readable content</p>
       </mat-card>


    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card >
        <img src="assets/images/bluebg.png">
        <h1> IT  Recruitment Consulting</h1>
        <p>It is a long established fact that a user will be distracted by readable content</p>
       </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
    </div>
    <br>
  

  